.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.buttons button{
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  height: 2em;
  padding-left: 10px;
  padding-right: 10px;
}
.edit {
  background: #273c75;
  cursor: pointer;
}
.delete {
  background: #FF0742;
  cursor: pointer;
}