.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 80vw;
  height: 80vh;
}
.card {
  border: 1px solid #000;
  max-width: 15vw;
  height: 38vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5vw;
  font-size: smaller;
  margin-bottom: 5px;
  margin-left: 0.1vw;
}
.img {
  width: 12vw;
  height: 12vw;
  cursor: pointer;
}
.card p {
  cursor: pointer;
}
.pageNavigator, .pageActive {
  margin-right: 0.5em;
  background-color: #DDFFF7;
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.pageActive {
  background-color: #606060FF;
  color: #ddd;
}