.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container h1 {
  margin-top: 0;
}
.tableContainer {
  height: 27em;
}
.table {
  border-collapse: collapse;
  max-width: 80vw;
}
.table td, .table th {
  border: 1px solid #ddd;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #606060FF;
  color: white;
  min-width: 10vw;
}

.table td {
  height: 3em;
  min-width: 13vw;
  text-align: center;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.buttons button{
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  height: 2em;
  padding-left: 10px;
  padding-right: 10px;
}
.edit {
  background: #273c75;
  cursor: pointer;
}
.delete {
  background: #FF0742;
  cursor: pointer;
}
.pageNavigators {
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
}
.pageNavigator, .pageActive {
  margin-right: 0.5em;
  background-color: #DDFFF7;
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.pageActive {
  background-color: #606060FF;
  color: #ddd;
}
@media all and (max-width: 600px) {
  .tableContainer {
    height: 23em;
  }
  .table {
    font-size: 12px;
  }
}
@media all and (max-width: 500px) {
  .table {
    font-size: 10px;
  }
  .edit, .delete {
    font-size: 10px;
  }
}
@media all and (max-width: 400px) {
  .table {
    font-size: 9px;
  }
  .edit, .delete {
    font-size: 9px;
  }
}
@media all and (max-width: 350px) {
  .table {
    font-size: 7px;
  }
  .edit, .delete {
    font-size: 7px;
  }
}